.vijay{
    background-color: red;
}
.Nayana{
    background-color: burlywood;
}
.rajini{
    background-color: yellow;
}
.manohar{
    background-color: aqua;
}
.bharath{
    background-color: blueviolet;
}

h5{
    background-color: brown;
}

#shruk{
    background-color: fuchsia;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}